/* Styling Peta */
.maps {
    position: absolute;
    background-size: cover;
    width: 99%;
    height: 98%;
    z-index: -10;
    left: 0.4%;
}

/* Styling Body */
body {
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    background-color: black;
    overflow: hidden;
    text-align: center;
}

/* Posisi Lokasi */
.loc1 {
    position: absolute;
    left: 22.5%;
    top: 23%;
    width: 9%;
}

.loc2 {
    position: absolute;
    left: 37.2%;
    top: 39.8%;
    width: 9%;
}

.loc3 {
    position: absolute;
    left: 50.1%;
    top: 18.8%;
    width: 9%;
}

.loc4 {
    position: absolute;
    left: 60.2%;
    top: 36.8%;
    width: 9%;
}

/* Tombol Back */
.back {
    position: absolute;
    top: 10px;
    right: -1%;
    width: 8%;
    height: 10%;
}

/* Modal */
.modal {
    display: none;
    position: absolute;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
}

/* Gambar di Modal */
.modal-content {
    position: absolute;
    max-width: 80%;
    max-height: 80%;
}

/* Tombol Close */
.close {
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 30px;
    cursor: pointer;
}

.modal-button {
    position: absolute;
    bottom: 25%;  /* Sesuaikan dengan posisi di modal */
    left: 43.2%;
}


.pl{
    width: 230PX;
    height: 90px;
}